<!DOCTYPE html >
<html>


    <head>

<link rel="stylesheet" href="/css/style.css">
<title>Idol Portal Main</title>
    </head>

    
      <body>
        <div class = "container"> {{!-- push everything to middle  --}}
       
            {{{body}}}
        </div>
    </body>
</html>