<!-- dropdown menu---------------------------------------------------------------------dropdown menu-->
<% var postNum= 45; %>
<div class="dropdown float-end">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Show Limit
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li>
      <a id="first" class="dropdown-item active" href="#">5 posts </a>
    </li>
    <li>
      <a id="sec" class="dropdown-item" href="#">10 posts </a>
    </li>
    <li>
      <a id="th" class="dropdown-item" href="#">25 posts </a>
    </li>
  </ul>
</div>
<h3><%= postNum %></h3>
