<!-- dropdown menu---------------------------------------------------------------------dropdown menu-->

<div class="dropdown float-end">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Sort
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li>
      <a id="first" class="dropdown-item" href="#">Number Ascending</a>
    </li>
    <li>
      <a id="sec" class="dropdown-item" href="#">Number descending </a>
    </li>
    <li>
      <a id="th" class="dropdown-item" href="#">Views Ascending</a>
    </li>

    <li>
      <a id="th" class="dropdown-item" href="#">Views descending</a>
    </li>
    <li>
      <a id="th" class="dropdown-item" href="#">Dates Ascending </a>
    </li>
    <li>
      <a id="th" class="dropdown-item" href="#">Dates descending </a>
    </li>
  </ul>
</div>
