<h1>Find Pw page</h1>
 
      <form method="POST" action="/users/find/pw">   
        <div class="form-group">
          <label for="email">ID</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Id"
          />
        </div> 
        <div>         
         <button type="submit" class="btn btn-primary btn-block">
            Confirm
         </button> 
        </div> 
      </form>
        
        
       