<!-- content.ejs -->

<!-- write comment -->
<form action="/comment/<%= stories._id %>" method="POST">
  <div class="d-flex flex-row add-comment-section mt-4 mb-4">
    <textarea id="body" name="body"></textarea>
    <button type="submit" class="btn btn-primary">Comment</button>
  </div>
  <input type="hidden" name="parentComment" value="<%= pt %>" />
  <input type="hidden" name="depth" value="<%= depth %>" />
</form>
