<!-- reply.ejs -->

<!-- if -->
<!-- user have comment -->

<% if( typeof comments === 'object' && comments.length >0 ){%>

<!-- show all comments---------------------------------------------------------------------------show comments -->
<% comments.forEach(function(val){ %>

<!-- line break -->
<%- include('root', { val:val});%>
<!-- line break -->
<%- include('check', { val:val});%>
<!-- line break -->
<% })%>
<!-- line break -->

<%} else if (virtual ==="yes"){%>

<!-- line break -->
<%- include('child', { comments:comments});%>
<!-- line break -->
<%- include('check', { val:comments});%>
<!-- line break -->

<% } else{ %>
<p>you do not have any comments</p>
<% } %>
