<!--show pagination-----------------------------------------------------------------------show pagination-->
<div id="pgnation"><%- include('../partials/dashboard/pgnation.ejs') %></div>

<!-- show menu---------------------------------------------------------------------show limit menu -->
<div id="Menu">
  <%- include('../partials/dashboard/limitMenu.ejs') %> <%-
  include('../partials/dashboard/sortMenu.ejs') %>
</div>

<!-- if users have story -->
<% if(typeof stories == 'object' && stories.length > 0){%>
<p>yes, you do have stories</p>

<!-- show posts---------------------------------------------------------------------------show posts -->
<div id="content"><%- include('../partials/dashboard/contents.ejs') %></div>

<!-- else then no story -->
<%} else{ %>
<p>you have not created any stories</p>
<% } %>
