<!-- index.ejs -->
<h>Stories</h>
<!-- if there are stories -->
<% if(typeof stories == 'object' && stories.length > 0){%>
<p>yes you do have stories</p>
<div class="list-group">
  <!-- loop through each stories -->
  <% stories.forEach(function(val){ %>
  <a
    href="/stories/<%= val._id %>"
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= val.title %></h5>
      <small><%= helpers.formatDate(val.createdAt) %></small>
    </div>
    <p class="mb-1">
      <%= helpers.stripTags(helpers.truncate( val.body, 150)) %>
    </p>
  </a>
  <% }) %>
</div>
<!-- if no stories -->
<% } else { %>
<p>No stories to display</p>
<% } %>
