<!-- show limit menu---------------------------------------------------------------------show limit menu -->
<div id="showLimit"><%- include('../partials/dashboard/limitMenu.ejs') %></div>

<!-- if users have story -->
<% if(typeof stories == 'object' && stories.length > 0){%>
<p>yes, you do have stories</p>

<!-- show posts---------------------------------------------------------------------------show posts -->
<div id="showLimit"><%- include('../partials/dashboard/contents.ejs') %></div>

<!-- else then no story -->
<%} else{ %>
<p>you have not created any stories</p>
<% } %>

<!--show pagination-----------------------------------------------------------------------show pagination-->
<div id="showLimit"><%- include('../partials/dashboard/pgnation.ejs') %></div>
