<div class="progress">
  <div
    class="progress-bar"
    role="progressbar"
    style="width: 25%"
    aria-valuenow="25"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    25%
  </div>
</div>

<div class="row center-align">
  <div class="col s12"><h3>Email or Password</h3></div>
</div>

<div class="row center-align">
  <div class="col s6">
    <a href="/users/find/email"><h4>Email</h4></a>

    <a href="/users/find/pw"> <h4>PW</h4></a>
  </div>
</div>
