<h1>Find Pw2 page</h1>

     
        <p>Email address that you want to receive temporary pw</p>
          <form method="POST" action="/users/find/pw/email">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
       <div>
           
           <button type="submit" class="btn btn-primary btn-block">
            send
           </button>
           
        </div></form>
        
       